env/
.vscode
accounts/__pycache__/
blog/__pycache__
./ruguru/__pycache__/
db.sqlite3
staticfiles
ruguru/__pycache__/
accounts/migrations/__pycache__/
blog/migrations/__pycache__/
media/uploads/
media/ckeditor/