{% extends 'base.html' %}
{% load static %}


<!-- head Section -->
{% block headContent %}
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<title>{% block title %}{{post.title}}{% endblock %}</title>
	
{% endblock headContent %}

<!-- end of head Section -->

<!-- Main Section -->
{% block content %}

	<section class="blog-single section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<div class="blog-single-main">
						<div class="row">
							<div class="col-12">
								<div class="blog-detail">
									<h2 class="blog-title">
										{{post.title }}
									</h2>
									<div class="blog-meta">
										<span class="author">
											<a href="#"><i class="fa fa-user"></i>{{ post.author }}</a>
											<a href="#"></a><i class="fa fa-calendar"></i>{{post.publication_date | date:"M d, Y,G:i"}}</a>
											<a href="#"></a><i class="fa fa-comments"></i>Comments ({{ comments_count }})</a>
										</span>
									</div>
									<div class="content">
										{{ post.post_content | safe }}
									</div>
								</div>
								<!--tags-->
								<!--comments-->

							</div>
						</div>
				</div>
			</div>
			</div>
		</div>
	</section>

	<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
	<script>
		$(document).ready(function () {
			// setup the all images' (in the article body section) width, height and overflow correctly
			$("img.article-image").each(function () {
				$(this).css({ "width": "100%", "height": "100%", "overflow": "hidden" })
			});

			// change the body font
			$("span").each(function () {
				$(this).css({ "font-family": "PT Sans" })
			})
		}
		)
	</script>
	
{% endblock content %}

<!-- End of Main Section -->
	