<!-- Footer -->
<footer class="container pt-5">
  <hr>
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <button class="btn btn-primary" style="display: inline-block; margin-right: 5em;">Contact Us</button>

      <a href="https://facebook.com" class="me-4 text-reset fa fa-facebook">
      </a>
      <a href="https://twitter.com" class="me-4 text-reset fa fa-twitter">
        <i class="fab "></i>
      </a>
      <a href="https://instagram.com" class="me-4 text-reset fa fa-instagram">
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="row pt-5">
    <div class="col-md-6 col-lg-3 mb-4">
      <h4 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Ruguru Blog
      </h4>
      <div class="mt-3">
        The next-generation blog for sharing stories today!
      </div>
    </div>
    <div class="col-md-5 col-lg-3 mb-4">
      <h5 class="mb-4">
        Navigation
      </h5>
      <div class="row">
        <div class="col-6">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="{% url 'category-list' 'life-hacks' %}" class="nav-link pt-0">Life Hacks</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'category-list' 'project-management' %}" class="nav-link pt-0">Project Managenent</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'category-list' 'technology' %}" class="nav-link pt-0">Technology</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'category-list' 'marketing' %}" class="nav-link pt-0">Marketing</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-3 mb-4">
      <h5 class="mb-4">
        Social Media Handles
      </h5>
      <ul class="nav flex-column text-muted">
        <li class="nav-item">
          <a href="#" class="nav-link pt-0">
            <i class="fa fa-facebook fa-fw me-2 text-facebook"></i>
            facebook
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link pt-0">
            <i class="fa fa-twitter fa-fw me-2 text-facebook"></i>
            twitter
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link pt-0">
            <i class="fa fa-instagram fa-fw me-2 text-facebook"></i>
            instagram
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="#">Ruguru Blog</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->